@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

main {
  margin: 3rem auto;
  max-width: 90vw;
  width: 50ch;
}

body {
  background-color: azure;
  font-family: "Noto Sans", sans-serif;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.highScoreBtn {
  cursor: pointer;
  color: turquoise;
}

.highScore {
  display: none;
}

.highScore h2 {
  margin: 1rem 0.1rem;
}

.highScore ol {
  margin: 1rem 0.1rem;
}

.highScore li {
  margin: 0.5rem 0.1rem;
  padding: 0.5rem;
}

.highScore li:nth-child(odd) {
  background-color: paleturquoise;
}

.startQuiz {
  display: block;
  text-align: center;
}

.startQuiz h2 {
  margin: 1rem 1rem 0.5rem 1rem;
}

.startQuiz p {
  margin: 0.5rem 1rem 1rem 1rem;
}

.question {
  display: none;
}

.question h3 {
  margin: 1rem;
}

.question ul {
  margin: 1rem;
}

.question div {
  display: none;
  opacity: 0.5;
  margin: 1rem;
}

.question #gradeText {
  font-style: italic;
  font-size: large;
}

.endScore {
  display: none;
}

.endScore h2 {
  margin: 1rem 1rem 0.5rem 1rem;
}

.endScore p {
  margin: 0.5rem 1rem 1rem 1rem;
}

.endScore #score {
  font-weight: bold;
  font-size: large;
}

.endScore input {
  padding: 0.5rem 1.2rem;
  margin: 0.1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.btn {
  cursor: pointer;
  padding: 0.5rem 1.2rem;
  margin: 0.1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  outline: none;
  color: #1a1a1a;
  background-color: turquoise;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: paleturquoise;
}
